.main-container{
    margin: 0 auto;
    max-width: 1440px;
}

.announcement{
    margin-bottom: 32px;
    background-color: #d4e9e2;
    display: flex;
    justify-content: center;
}

.announcement span{
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 50%;
    text-align: center;
    font-size: 19px;
    line-height: 1.75;
    font-weight: 500;
}

.announcement span a{
    color:currentColor ;
}

.announcement span a:hover{
    outline: 0;
}

.left-right-section{
    display: flex;
    background-color: #f1f8f6;
    margin-bottom: 32px;
}

.glass , .chill {
    background-color: #f2f0eb;
}



.left-right-section .text{
    width: 50%;
    display: flex;
    padding: 32px 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.75;
    text-align: center;
}

.left-right-section .image{
    width: 50%;
   display: flex;
}

.left-right-section .image img{
    width:100%;
}

.chill .text h1{
    max-width: 46.15385em;
    font-size: 50px;
    letter-spacing: 2px;
    
}

.glass .text h1{
    max-width: 46.15385em;
    font-size: 50px;
    letter-spacing: 2px;
}

.summer{
    background-color: #d4e9e2;
}

.bottom-top{
  padding-top: 20px;
  max-width: 50%;
  margin-left: 400px;
}
.notice_first, .notice_second{
    text-align: center;
    padding: 5%;
}

.notice_first p a{
    font-size: 14px;
    color:black ;
}

.notice_first p a:hover{
    outline: 0;
}




