body{
    font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif'; 
    color:rgba(0,0,0,.87); 
    font-weight: 400;
    margin: 0;
}

* {
    box-sizing: border-box;
}

header{
    height: 101px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
    z-index: 10;
    position: relative;
}

.logo{
    height: 51px;
    width: 51px;
}

.logo img{
    height: 100%;
}
.header-container{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.left-nav{
    display: flex;
    height: 100%;
    align-items: center;
}

.left-nav nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.left-nav nav ul li{
    text-transform: uppercase;
    padding: 24px;
    font-weight: 700;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.left-nav nav ul li:hover{
    color:#008248;
}
.right-nav{
    display: flex;
    align-items: center;
}
.find-store{
    display: flex;
    align-items: center;
    margin-right: 40px;
    font-weight: 600;
    transition: all .2s ease;
    cursor: pointer;
}

.find-store:hover{
   color:#008248 ;
}

.find-store i{
    margin-right: 8px;
    font-size: 16px;
}

.sign-in, .join-now , .cta{
    padding: 7px 16px;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease;
}
.cta:hover{
    padding: 7px 30px;
    background-color: rgba(0,0,0,.06);

}

.sign-in {
    margin-right: 16px;
}

.join-now {
    background-color: black;
    color: white;
    
}

.sign-in:hover{
    background-color: rgba(0,0,0,.06);
}

.join-now:hover{
    background-color: rgba(0,0,0,.7);
    border-color: rgba(0,0,0,.7);
}

